<!doctype html>
<html>
  <head>
  </head>
  <body>
    <div id="webchat" data-websocket-url="https://website-demo.rasa.com"></div>
      <script src="http://cdn.jsdelivr.net/npm/rasa-webchat@1.5.0/lib/index.min.js"></script>
      <script>
        WebChat.default.init({
          selector: "#webchat",
          initPayload: "/get_started",
          interval: 1000, // 1000 ms between each message
          socketUrl: "http://localhost:5005",
          socketPath: "/socket.io/",
          title: "Rsykoss",
          inputTextFieldHint: "Type a message...",
          connectingText: "Waiting for server...",
          hideWhenNotConnected: false,
          fullScreenMode: true,
          profileAvatar: "/static/bot.png",
          openLauncherImage: 'myCustomOpenImage.png',
          closeLauncherImage: 'myCustomCloseImage.png',
          params: {
            images: {
              dims: {
                width: 300,
                height: 200,
              }
            },
            storage: "session"
          }
        })
      </script>
    </div>
  </body>
</html>